<!doctype html>
<html lang="en">

<head>
    <meta charset="UTC-8">
    <title>Growth Page</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="data.html">Data</a></li>
                  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Plots <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="Max_Temperature.html">Gender</a></li>
                            <li><a href="Humidity.html">Peakhours</a></li>
                            <li><a href="cloudiness.html">Growth</a></li>
                            <li><a href="Windspeed.html">Popular Locations</a></li>
                        </ul>
                    </li>
                </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <h1>Growth</h1>
                <img src="growth.png" float: left width="350px" height="250px">
               
                <br> <br>
                As the temperature gets cold as winter begins, people tend not to ride as well because of the lack of comfort individuals face when riding in low temperatures. Therefore, at some point the ridership does not grow. However, the total amount of annual member have been kept increased over time in 2018.

            </div>
            <div class="col-md-4 sidebar">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Visualizations</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <a href="Max_Temperature.html">Gender<img src="gender.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <a href="Humidity.html">Peak Hours<img src="peakhours.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <a href="Cloudiness.html">Growth<img src="growth.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <a href="Windspeed.html">Locations<img src="popular_location.png" width="200px" height="150px"></a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
<html>